* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Raleway", "Times New Roman", serif;
}

.card {
  border: none;
}

#main-card:hover {
  background-color: black;
  border-radius: 1rem;
  height: 40rem;
  transition: 0.75s;
}
